:root{
	--card_color: gold;
	--card_size: 130px;
	--card_font: 60px;
	--card_margin: 8px;
}

body{
	background-color: #111;
	font-family: Helvetica;
	user-select: none;
}

.card{
	display: inline-block;
	width: var(--card_size);
	height: var(--card_size);
	margin: var(--card_margin);
	font-size: var(--card_font);
	line-height: var(--card_size);
	border-radius: 15%;
	box-sizing: border-box;
}
.revealed{
	background-color: white;
}
.hidden{
	color: transparent;
	cursor: pointer;
	background-color: var(--card_color);
}
.gone{
	background-color: #111;
	color: transparent;
	pointer-events: none;
	border: none;
}
.inactive{
	display: none;
}
.end_caption{
	user-select: none;
	color: white;
	height: 10vh;
	font-size: 4vw;
	margin-top: 45vh;
}

