:root{
	--card_size: 130px;
	--card_margin: 8px;
}

body{
	background-color: #111;
	font-family: Helvetica;
	user-select: none;
}

.card{
	display: inline-block;
	width: var(--card_size);
	height: var(--card_size);
	margin: var(--card_margin);
	font-size: calc(var(--card_size)*0.5);
	line-height: var(--card_size);
	border-radius: 15%;
	box-sizing: border-box;
	border: 1px solid gold;
}
.revealed{
	/*background-color: white;*/
	/*background-size: cover;*/
}
.hidden{
	color: transparent;
	cursor: pointer;
	background-color: var(--card_color);
	/*background-size: 0 0;*/
}
.gone{
	background: #111;
	color: transparent;
	pointer-events: none;
	/*background-size: 0 0;*/
	border: none;
}
.inactive{
	display: none;
}
.end_caption{
	user-select: none;
	color: white;
	height: 10vh;
	font-size: 4vw;
	margin-top: 45vh;
}

#grid{
	height:100%;
}

