body{
    background-color: #000;
    font-family: Consolas;
}

html, body{
	margin: 0; 
	height: 100%;
	overflow: hidden;
}

canvas{
    position: absolute;
    height: 800px;
    width: 800px;
    top: calc((100vh - 800px)*0.5);
	left: calc((100vw - 800px)*0.5);
}

.helpDiv{
    height: 95%;
    width: 320px;
    font-weight: bolder;
    font-size: 18px;
    position: absolute;
    top: 10px;
}

.helpDiv[player = "red"]{
    color: red;
    left: 10px;
}

.helpDiv[player = "blue"]{
    text-align: right;
    color: blue;
    right: 10px;
}

table{
    width: 100%;
    height: 100%;
    height: 100%;
}

#StartDiv{
    width: 400px;
    position: absolute;
    animation: blink 1s infinite;
    top: calc(50vh + 100px);
	left: calc(50vw - 200px);
    text-align: center;
}

@keyframes blink {
    0% {color: white;}
    50% {color: rgb(150, 150, 150);}
    100% {color: white;}
}